.post-reply,.post-reply-2{
   float:left;
   width:60%;
   margin-left:7.5%;
    height:auto;
}

.post-reply{margin-top:50px;}

.image-reply-post,.image-reply-post-2{
   float:left;
   width:65px;
   height:65px;
   background: url(img/avatar.png) no-repeat;
   top:0;   
}

.image-reply-post{background: url(img/avatar.png) no-repeat;}
.image-reply-post-2{background: url(img/avatar-2.png) no-repeat;}

.name-reply-post,.name-reply-post-2{
   float:left;
   width:calc(100% - 95px);
   font-family: Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
   font-weight:600;
   color:#686868;
   line-height:65px;
   height:65px;
   padding-left:30px;
}

.text-reply-post,.text-reply-post-2{
   float:left;
   text-align:left;
   height:auto;
   line-height:140%;
   margin-left:95px;
   width:calc(90% - 95px);
   font-family: Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
   font-weight:400;
   color:#999;
   margin-top:-10px;
   border-bottom:solid #E9E9E9 1px;
   padding:20px;
   margin-top:-20px;
}

.post-send{
   float:left;
   width:60%;
   margin-left:7.5%;
   height:auto;
   margin-bottom:25px;
}

#main-post-send{
   float:left;
   width:calc(90% - 160px);
   margin-left:95px;
   height:auto;
   margin-top:0px;
}

#title-post-send{
   font-family: Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
   font-weight:600;
   color:#686868;
   line-height:65px;
   height:65px;
   position:relative;
}

textarea {
    font-family: Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
   font-weight:400;
   color:#999;
   width: 320px;
   height: 150px;
   background:#FFF;
   outline:none;
   border:solid 1px #DDDDDD;
   border-radius:4px;
   padding-left:10px;
   padding-top:10px;
   float:left;
   margin-left:-15px;
   margin-top:-25px;
}

input[type=submit] {
   font-family: Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
   font-weight:600;
   color:#FFF;
   cursor: pointer;
   width: 150px;
   height: 40px;
   padding: 5px 10px;
   border-radius:4px;
   transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
   -moz-transition: all 0.5s ease-in-out; /** Firefox **/
   -o-transition: all 0.5s ease-in-out; /** Opera **/
   background-color:#74BDEC;
   float:left;
   border:none;
}

fieldset {
   border:none;
}

textarea { 
   resize: vertical;
    max-height:100px; 
    min-height:100px;
}

textarea {
    color: #999;
}
 
textarea:-moz-placeholder {
    color: #999;
}
 
textarea::-webkit-input-placeholder {
    color: #999;
}
 
textarea.placeholder {
    color: #999;
}